@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.Genv {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 68px;
    line-height: 110%;
}

.Easily {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
}

.underlined:hover {
    text-decoration: underline;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: rgba(18, 17, 39, 0.56);
}

.card {
    width: 33%;
    margin: 10px;
    padding: 10px;
    background: rgba( 255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 7.5px);
    -webkit-backdrop-filter: blur( 7.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.Dont {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    /* identical to box height, or 46px */
    color: #000000;
}

.section-first {
    background: #000000;
}

.section-first-a {
    width: 90%;
    margin: 0 auto;
}

.hover {
    transition: border-radius 0.5s;
}

.hover:hover {
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 30px;
}

@media screen and (max-width:600px) {
    .Genv {
        font-weight: 600;
        font-size: 32px;
    }
    .Easily {
        font-weight: 400;
        font-size: 14px;
    }
    .card {
        width: 100%;
        margin: 0 auto;
    }
    .block {
        display: block;
    }
    .Dont {
        font-weight: 600;
        font-size: 26px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.04em;
    }
}

@media screen and (max-width:768px) and (min-width:601px) {
    .Genv {
        font-weight: 600;
        font-size: 50px;
    }
    .Easily {
        font-weight: 400;
        font-size: 17px;
    }
    .card {
        width: 100%;
    }
    .block {
        display: block;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .Easily {
        font-weight: 400;
        font-size: 24px;
    }
    .card {
        width: 100%;
    }
    .block {
        display: block;
    }
}